body {
    padding: 50px;
    font-size: 22px;
}

div.left {
    max-width: 400px;
    float: left;
    padding-right: 50px;
    @include breakpoint($mobile) {
        width: 100%;
        float: none;
    }
}

div.right {
    width: 1000px;
    width: calc(100% - 450px);
    float: right;
    margin-top: 150px;
    @include breakpoint($mobile) {
        margin-top: 0px;
        width: 100%;
        float: none;
    }
}

div.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
        display: block;
        float: left;
    }
    img {
        width: 400px;
        max-width: 100%;
        height: auto;
        margin-bottom: 50px;
    }
}
