<div class="about" id="maincontent">
    <h1>About me</h1>

    <p>As a seasoned designer with a focus on UX and UI design, I bring a wealth of expertise and experience to my work. Throughout my career in the creative industry, I have had the opportunity to collaborate with startups, agencies, and government organizations, honing my skills in design and implementing design systems, ensuring accessibility in design, and executing responsive design solutions.</p>
        
    <p>I take pride in my attention to detail and thrive in the delivery phase of projects, where I collaborate closely with developers to bring projects to fruition. A values-driven designer with an eye for detail, I bring passion, curiosity, and empathy into everything I do. I enjoy using design thinking to create stronger communities and build more human-focused digital experiences. Most recently a Senior Product Designer at Sharesies.</p>
</div>
