<div class="about" id="maincontent">
    <h1>About me</h1>

    <p>I am a seasoned experience designer with skills in service design, UX/UI design, and product design. </p>

    <p>In my role as a service designer, I aim to seamlessly integrate user needs with business objectives to create holistic experiences. With a rich background as a UX/UI designer, I have led numerous projects, leveraging iterative design processes and user research to deliver intuitive interfaces that exceed user expectations. </p>

    <p>I take pride in my attention to detail and thrive in the delivery phase of projects, where I collaborate closely with developers through a shared understanding of front end development. My unwavering commitment to accessibility fuels my passion to ensure every user can engage with digital products effectively, fostering a more inclusive digital landscape.</p>
</div>
