<div class="about" id="maincontent">
    <h1>About</h1>

    <p>A senior designer with over 10 years' experience across public and private sectors turning complex problems into simple and inclusive digital experiences. </p>

    <p>I take pride in my attention to detail and thrive in the delivery phase of projects, where I collaborate closely with developers through a shared understanding of front end development. My unwavering commitment to accessibility fuels my passion to ensure every user can engage with digital products effectively, fostering a more inclusive digital landscape.</p>
</div>
