<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <h1><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>

    <h2>{{ site.description }}</h2>
    
    <p>Currently a UX Designer at ACC.</p>

    <p>A creative jack of all trades, I enjoy graphic and web design, user experience design, illustration and web development. I love writing clean and concise CSS that looks gorgeous and functions seamlessly on every browser and device.</p>

  </div>
</header>
