@charset "utf-8";

@import "breakpoint";

@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600,800,900");

// Define variables
$tablet: 600px;
$desktop: 880px;
$large: 1400px;

// Import partials.
@import
  "minima-lauramunro/base",
  "minima-lauramunro/layout",
  "minima-lauramunro/typography",
  "minima-lauramunro/posts"
;

@media (prefers-color-scheme: dark) {
  body{
      color: white;
      background-color: #1e1e1e;
      a {
          color: white;
      }
  }
  h1 a:hover,
  header .wrapper .mail:hover {
      color: #F7B1FD;
  }
  header .wrapper .linkedin {
      svg {
          fill: white;
      }
      &:hover {
          svg {
              fill:#F7B1FD;
          }
      }
  }
  .about,
  .portfolio .post:nth-of-type(4), 
  .portfolio .post:nth-of-type(5) {
      background: rgba(193, 0, 163, 0.5);
  }

  .portfolio h2,
  .portfolio .post:nth-of-type(1),
  .portfolio .post:nth-of-type(8), 
  .portfolio .post:nth-of-type(9) {
      background: rgba(44, 113, 244, 0.5);
  }
  .talks,
  .portfolio .post:nth-of-type(2), 
  .portfolio .post:nth-of-type(3), 
  .portfolio .post:nth-of-type(6), 
  .portfolio .post:nth-of-type(7) {
      background-color: rgba(132, 47, 255, 0.5);
  }
}