body {
    margin: 0px;
    background: var(--background);
}

img {
  max-width: 100%;
  vertical-align: middle;
}


.ext {
    &:after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('../assets/ext-link.svg');
        background-size: contain;
        margin-left: 5px;
        position: relative;
        top: 2px;
    }
}