.post-list-heading {
    text-transform: lowercase;
}

.post-list {
    list-style-type: none;
    padding: 0px;
    @include breakpoint($desktop) {
        display: flex;
        flex-wrap: wrap;
        max-width: 950px;
    }
}

.post {
    flex: 1 0 50%;
    margin-bottom: 40px;
    .thumbnail {
        display: block;
        img {
            border: 1px solid #ececec;
        }
    }
    .title, .role {
        display: inline-block;
        margin-bottom: 0;
        opacity: 0;
        transition: 0.3s ease all;
    }
    .title {
        &:after {
            content: ' : ';
            display: inline-block;
            margin-left: 5px;
        }
    }
    &:hover {
        .title, .role {
            opacity: 1;
        }
    }
}
