.portfolio {
    position: relative;
    border-bottom: $border;
    padding: $spacing-s;
    .post{
        margin-bottom: $spacing-m;
        .thumbnail {
            display: block;
            flex-shrink: 0.5;
            align-self: flex-start;
            img {
                border: 1px solid #ececec;
            }
        }
        @include breakpoint($tablet) {
            display: flex;
            gap: $spacing-s;
            flex-direction: row;
            .thumbnail, .post-text {
                flex-basis: 50%;
            }
        }
        @include breakpoint($desktop) {
            .thumbnail, .post-text {
                flex-basis: auto;
            }
            .thumbnail {
                flex-shrink: 0;
            }
        }
    }
}

.home-blog {
    padding: $spacing-s;
    border-bottom: $border;
    .post {
        margin-bottom: $spacing-s;
        padding-bottom: $spacing-s;
        border-top: $border;
    }
}

.talks {
    border-bottom: $border;
    padding: $spacing-s;
    
    iframe {
        width: 100% !important;
        height: auto !important;
    }

    .talk {
        @include breakpoint($tablet) {
            iframe {
                // width: 50% !important;
                max-width: 500px;
                height:360px !important;
            }
        }
    }
    @include breakpoint($tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-s;
        h2 {
            flex-shrink: 0;
            width: 100%;
        }
        .talk {
            flex-basis: calc(50% - 16px);
        }
    }
}

footer {
    text-align: center;
    padding: 30px;
    p {
        max-width: unset;
    }
}
