.page .page-content {
    padding: $spacing-s;
}

.page-wrapper {
    overflow: hidden;
}

header {
    padding: $spacing-s;
    border-bottom: 2px solid var(--foreground);
}

header .wrapper {
    @include breakpoint($tablet){
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }
    .linkedin {
        a {
            display: block;
        }
        
    }
}

.skip {
    position: absolute;
    top:-100%;

    &:focus {
        top: 0;
    }

}