.page .page-content {
    padding: $spacing-s;
}

.page-wrapper {
    overflow: hidden;
}

header {
    padding: $spacing-s;
    border-bottom: 2px solid var(--foreground);
}

header .wrapper {
    display: grid;
    grid-template-areas: "h1 h1"
                        "blog linkedin";
    grid-template-columns: min-content auto;
    column-gap: $spacing-s;
        @include breakpoint($tablet) {
            grid-template-areas: "h1 blog linkedin";
            grid-template-columns: 1fr auto auto;
            
            align-items: baseline;
        }
        a {
            text-shadow: 0px 0px 5px var(--background);
        }
    h1 {
        grid-area: h1;
    }
    .linkedin {
        grid-area: linkedin;
        a {
            display: block;
        }
        span {
            display: none;
        }
        svg {
            fill: var(--foreground);
            transition: 0.5s ease all;
            &:hover {
            fill: var(--link);
            }
        }
        
    }
    .blog {
        grid-area: blog;
    }
}

.skip {
    position: absolute;
    top:-100%;

    &:focus {
        top: 0;
    }

}