.post-container {
    @include breakpoint($desktop) {
        display: flex;
        flex-wrap: wrap;

        .post-category {
            max-width: 400px;
            flex: 0 0 50%;
            flex-basis: calc(50% - 30px);
            &:nth-child(even) {
                margin: 0 30px;
            }
        }
    }
    @include breakpoint($large) {
        .post-category {
            flex: 1 0 33%;
            flex-basis: calc(33% - 30px);
            &:nth-child(even) {
                margin: 0;
            }
            &:nth-child(3n + 2) {
                margin: 0 50px;
            }
        }
    }
}
    
.post-list {
    list-style-type: none;
    padding: 0px;
}

.post {
    margin-bottom: 20px;
    .thumbnail {
        display: block;
        img {
            border: 1px solid #ececec;
            width: 100%;
            height: auto;

            @include breakpoint($tablet) {
                width: auto;
            }
        }
    }
    // .title {
    //     display: inline-block;
    //     margin-bottom: 0;
    //     opacity: 0;
    //     transition: 0.3s ease all;
    // }
    // &:hover {
    //     .title {
    //         opacity: 1;
    //     }
    // }
}

