body {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    color: var(--text);
    @include breakpoint($tablet) {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  max-width: 680px;
  font-weight: 400;
  @include breakpoint($tablet) {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

a {
  text-decoration: underline var(--link) 2px;
  text-underline-offset: 4px;
  color: var(--link);
  transition: 0.2s ease color;
  &:hover {
    color: var(--link-hover);
    text-underline-offset: 8px;
  }
}

h1 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2rem;
  overflow-wrap: break-word;
  @include breakpoint(380px) {
    font-size: 2.4rem;
    line-height: 2rem;
  }
  @include breakpoint($tablet) {
    font-size: 3.6rem;
    line-height: 3.2rem;
  }
}

h2 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2rem;
  @include breakpoint($tablet) {
    font-size: 2.8rem;
    line-height: 2.6rem;
  }
}

h3 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6rem;
  @include breakpoint($tablet) {
    font-size: 2.2rem;
    line-height: 2rem;
  }
} 

ul {
  line-height: 1.8em;
}

// a.button {
//     color: $foreground;
//     display: inline-block;
//     padding: 12px 18px;  
//     background: white;  
//     margin-bottom: 1.5em; 
    
//     @include breakpoint($desktop) {
//       margin-bottom: 1.5em;
//     }
    
//     &:hover {
//       color: $page-dark;
//       background: white;
//       box-shadow: 0px 0px 0px 1px $page-dark;
//     }
// }

// @media (prefers-color-scheme: dark) {
//   a.button {
//     color: $page-dark;
//     background: white;     
    
//     &:hover {
//       color: white;
//       background: $page-dark;
//       box-shadow: 0px 0px 0px 1px white;
//     }
//   }
//   h1, h2, h3, h4, p {
//     a:hover {
//       color: $link-darkmode;
//     }
//   }
//   a:hover {
//     color: $link-darkmode;
//   }
// }
