body {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
}

h1 {
  font-weight: 900;
  font-size: 40px;
  word-break: break-word;

  @include breakpoint($tablet) {
    font-size: 56px;
  }

  a {
      text-decoration: none;
      color: inherit;
      transition: 0.5s ease color;
      &:hover {
        color: #700F61;
      }
  }
}

h2 {
  font-weight: 800;
  font-size: 30px;

  @include breakpoint($tablet) {
    font-size: 42px;
  }
}

h3 {
  font-weight: 600;
  font-size: 20px;

  @include breakpoint($tablet) {
    font-size: 36px;
  }
} 

p {
  font-size: 16px;
  line-height: 22px;
  @include breakpoint($tablet) {
    font-size: 18px;
    line-height: 26px;
  }
}

a {
  color: inherit;
  transition: 0.3s ease color;
}

h1, h2, h3, h4, p {
  a:hover {
    color: darken($pink-dark, 5%);
    text-decoration: underline 5px;
  }
}

a {
  color: inherit;
  transform: 0.3s ease color;
  &:hover {
    color: darken($pink-dark, 5%);
    text-decoration: underline 5px;
  }
}

a.button {
    color: $page-dark;
    display: inline-block;
    padding: 12px 18px;  
    background: white;  
    margin-bottom: 1.5em; 
    
    @include breakpoint($desktop) {
      margin-bottom: 1.5em;
    }
    
    &:hover {
      color: $page-dark;
      background: white;
      box-shadow: 0px 0px 0px 1px $page-dark;
    }
}

@media (prefers-color-scheme: dark) {
  a.button {
    color: $page-dark;
    background: white;     
    
    &:hover {
      color: white;
      background: $page-dark;
      box-shadow: 0px 0px 0px 1px white;
    }
  }
  h1, h2, h3, h4, p {
    a:hover {
      color: lighten($pink-light, 15%);
    }
  }
  a:hover {
    color: lighten($pink-light, 15%);
  }
}
