body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: var(--text);
    @include breakpoint($tablet) {
      font-size: 18px;
      line-height: 26px;
    }
}

p {
  font-size: 16px;
  line-height: 22px;
  max-width: 680px;
  font-weight: 400;
  @include breakpoint($tablet) {
    font-size: 18px;
    line-height: 26px;
  }
}

a {
  text-decoration: underline var(--link) 2px;
  text-underline-offset: 4px;
  color: var(--link);
  transition: 0.2s ease all;
  &:hover {
    color: var(--link);
  }
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  overflow-wrap: break-word;
  @include breakpoint(380px) {
    font-size: 40px;
    line-height: 48px;
  }
  @include breakpoint($tablet) {
    font-size: 56px;
    line-height: 56px;
  }
}

h2 {
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  @include breakpoint($tablet) {
    font-size: 42px;
    line-height: 48px;
  }
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  @include breakpoint($tablet) {
    font-size: 36px;
    line-height: 40px;
  }
} 



ul {
  line-height: 1.8em;
}

// a.button {
//     color: $foreground;
//     display: inline-block;
//     padding: 12px 18px;  
//     background: white;  
//     margin-bottom: 1.5em; 
    
//     @include breakpoint($desktop) {
//       margin-bottom: 1.5em;
//     }
    
//     &:hover {
//       color: $page-dark;
//       background: white;
//       box-shadow: 0px 0px 0px 1px $page-dark;
//     }
// }

// @media (prefers-color-scheme: dark) {
//   a.button {
//     color: $page-dark;
//     background: white;     
    
//     &:hover {
//       color: white;
//       background: $page-dark;
//       box-shadow: 0px 0px 0px 1px white;
//     }
//   }
//   h1, h2, h3, h4, p {
//     a:hover {
//       color: $link-darkmode;
//     }
//   }
//   a:hover {
//     color: $link-darkmode;
//   }
// }
