// Define variables

// Breakpoints
$tablet: 600px;
$desktop: 880px;
$large: 1400px;
$xxlarge: 1800px;

// Spacing
$spacing-s: 32px;
$spacing-m: 64px;

// Colours

// Light mode
:root {
    --foreground: #1e1e1e;
    --background: white;
    --text: var(--foreground);
    --blog: #DBFFA6;
    --post: #B1FADA;
    --link: #6726C5;
}

// Dark mode
@media (prefers-color-scheme: dark) {
    :root {
        --foreground: white;
        --background: #1e1e1e;
        --blog: #2a0c56;
        --post: #06544d;
        --link: #867adf;
    }
}

// UI
$border: 2px solid var(--foreground);