// Define variables

// Breakpoints
$tablet: 600px;
$desktop: 880px;
$large: 1400px;
$xxlarge: 1800px;

// Colours

// light mode
$pink-light: rgb(238, 97, 251);
$purple-light: rgb(135, 116, 255);
$blue-light: rgb(146, 199, 249);

// dark mode
$pink-dark: rgb(193, 0, 163);
$purple-dark: rgb(132, 47, 255);
$blue-dark:  rgb(44, 113, 244);

$page-dark: #1e1e1e;