---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {% include about.html %}

  {{ content }}

  <div class="portfolio">
    <h2>Portfolio</h2>

    <div class="posts">
    {% for post in site.posts %}
      <div class="post">
          {%- if post.imageUrl -%}
            <a class="thumbnail" href="{{ post.websiteUrl }}">
              <img src="/images/{{ post.imageUrl }}" title="{{ post.title }}" alt="{{ post.imageAlt }}"/>
            </a>
          {%- endif -%}
          <div>
            <h3>{{ post.title | escape }}</h3>
            <p>{{ post.content | escape }}</p>
          </div>
      </div>
    {%- endfor -%}
    </div>
  </div>

  <div class="talks">
    <h2>Recorded talks</h2>    
    <div class="talk">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/j3cnnfGk_78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>The black dog can code too - DrupalSouth 2018</h3>
    </div>
    <div class="talk">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/kPAsB6iRjhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Theming Drupal in 2017: A New Hope - DrupalSouth 2017</h3>
    </div>
  </div>

</div>
