---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

    <h2 class="post-list-heading">{{ page.list_title | default: "Portfolio" }}</h2>
     <div class="post-container">
      <ul class="post-list">
        {% for post in site.posts %}
          <li class="post">
              {%- if post.imageUrl -%}
                <a class="thumbnail" href="{{ post}}">
                  <img src="/images/{{ post.imageUrl }}" title="{{ post.title }}"/>
                </a>
              {%- endif -%}
            <h3>{{ post.title | escape }}</h3>
            <p>{{ post.content | escape }}</p>
          </li>
        {%- endfor -%}
      </ul>
    </div>


</div>
